.logo img{
    width: 102px;
    height: 31px;
}

.light {
    position: absolute;
    left: 50%;
    margin-left: -12px;
}

.header {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}